<Router AppAssembly="@typeof(Routes).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(BZ_WebMobileTemplate.Shared.Layout.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(BZ_WebMobileTemplate.Shared.Layout.MainLayout)">
            <p>Sorry, the page was not found.</p>
        </LayoutView>
    </NotFound>
</Router>